.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


button {
  font-size: calc(10px + 2vmin);
}


.titleimage {
  display: flex;
  width: 80vw;
  margin-top: 1em;
  align-content: center;
  align-items: center;

}
.keepInline{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colStyle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.user_avatar {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.user_avatar_floating {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.centered_div {
  display: flex;
  width: 40vw;
  height: 8vw;
  align-items: center;
  justify-content: center;
  align-content: center;
}


  
.login-page,
.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

